{% extends "layout.html" %}
{% from "show_links.html" import show_links %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block content %}


<div class="container">
  <h1>Technology Scout</h1>
  <h6>Finding new technologies, add basic information, and explore embedded technologies.</h6>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}


                    <div class="content-section">
                        <div class="form-group">
                                <b>{{ form.tech_name.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">The most used name of the technology you scout</font></small></p>
                                {% if form.tech_name.errors %}
                                    {{ form.tech_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.tech_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.tech_name(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>
                        <div class="form-group">
                                <b>{{ form.associate_names.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">What other name do people use to call this technology. Use ONLY ";" between names. Type <b><strong>None</strong></b> if not applicable</font></small></p>
                                {% if form.associate_names.errors %}
                                    {{ form.associate_names(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.associate_names.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.associate_names(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>

                        <div class="form-group">
                                <b>{{ form.wikilink.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">Wikipedia link of the technology.</font></small></p>
                                {% if form.wikilink.errors %}
                                    {{ form.wikilink(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.wikilink.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.wikilink(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>

                        <div class="form-group">
                                <b>{{ form.category.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">Is this a product, a process, or a real-estate use?</font></small></p>
                                {% if form.category.errors %}
                                    {{ form.category(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.category.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.category(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>

                        <div class="form-group">
                                <b>{{ form.description.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">Please write a brief description of the technology</font></small></p>
                                    {% if form.description.errors %}
                                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.description.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.description(class="form-control form-control-lg") }}
                                    {% endif %}
                        </div>

                        <div class="form-group">
                                <b>{{ form.embed_tech.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">What other technologies is this technolog based upon? Use ONLY ";" between names.</font></small></p>
                                {% if form.embed_tech.errors %}
                                    {{ form.embed_tech(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.embed_tech.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.embed_tech(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>

                        <div class="form-group">
                                <b>{{ form.impact.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">How this technology will change the built environment</font></small></p>
                                {% if form.impact.errors %}
                                    {{ form.impact(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.impact.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.impact(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>

                        <div>
                            <p><b>Impact Sectors*</b></p>

                            {% for s in sectors %}
                            <div class = "form-check">
                              <input type="checkbox" value="{{ s['sec_id'] }}" id = "{{ s['sec_id'] }}" name="mycheckbox">
                              <label class = "form-check-label" for = "{{ s['sec_id'] }}"> {{ s['sector'] }} </label>
                              <p>
                              </p>
                            </div>
                            {% endfor %}
                            <br></br>
                        </div>


                        <div class="form-group">
                                <b>{{ form.sources.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">Use ";" to split multi sources, less than 3 sources preferred.</font></small></p>
                                {% if form.sources.errors %}
                                    {{ form.sources(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.sources.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.sources(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>
                    </div>
                <!-- </form> -->
                <div>

                  <div class= "col">
                    <div class= "row" style = "margin-bottom: 10px">
                      {{ form.submit(class="btn btn-outline-info")}}
                    </div>

                    <!-- <div class= "row" style = "margin-bottom: 10px; margin-top: 10px;">
                      <a href="{% if tech_name %}{{ url_for('tech_analytics', tech=form.tech_name.data) }}{% endif %}" role="button"  class="btn  {% if (user['can_analyse'] == 0) or (form.tech_name.data == None) %}  btn-outline-secondary disabled {% else %} btn-outline-info {% endif %} ">Proceed to Analytics</a>
                    </div> -->


                  </div>
            </div>



    </form>
</div>

{% endblock content %}
