{% extends "layout.html" %}
{% block content %}
<!-- <h1>Tech</h1> -->
<div class="row" style = "margin-bottom: 15px; margin-top: 15px">
	<div class="col-sm-4">
		 <a class="nav-item nav-link" href="{{ url_for('tech_scout') }}">Technology Scout</a>
	</div>
	<div class="col-sm-4">
		 <a class="nav-item nav-link" href="{{ url_for('tech_scout') }}">Technology Scout</a>
	</div>
	<div class="col-sm-4">
		 <a class="nav-item nav-link" href="{{ url_for('tech_scout') }}">Technology Scout</a>
	</div>
</div>
{% endblock content %}
