{% extends "layout.html" %}
{% block content %}
<h1>Technology Edit</h1>
<h5>Final editings for technology research. Check sources & commit to MIT TechTracker</h5>

<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row" style = "margin-bottom: 15px; margin-top: 15px">
            <div class="col-sm-6">
                <!-- <form method="POST" action=""> -->
                    <div class="content-section">
                        <div class="form-group">
                                <b>{{ form.tech_name.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">The most used name of the technology you scout</font></small></p>
                                {% if form.tech_name.errors %}
                                    {{ form.tech_name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.tech_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.tech_name(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>
                        <div class="form-group">
                                <b>{{ form.associate_names.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">What other name do people use to call this technology. Use ";" between names. Type <b><strong>None</strong></b> if not applicable</font></small></p>
                                {% if form.associate_names.errors %}
                                    {{ form.associate_names(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.associate_names.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.associate_names(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>
                        <div class="form-group">
                                <b>{{ form.category.label(class="form-control-label") }}</b>
                                <p>{{form.category}}</p>
                        </div>
                        <div class="form-group">
                                <b>{{ form.description.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">Please write a brief description of the technology</font></small></p>
                                    {% if form.description.errors %}
                                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.description.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.description(class="form-control form-control-lg") }}
                                    {% endif %}
                        </div>

                        <div class="form-group">
                                <b>{{ form.embed_tech.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">What other technologies is this technolog based upon.</font></small></p>
                                {% if form.embed_tech.errors %}
                                    {{ form.embed_tech(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.embed_tech.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.embed_tech(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>



                    </div>
                <!-- </form> -->
            </div>
            <div class="col-sm-6">
                <!-- <form method="POST" action=""> -->
                    <div class="content-section">
                        <div class="form-group">
                                <b>{{ form.impact.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">How this technology will change the built environment</font></small></p>
                                {% if form.impact.errors %}
                                    {{ form.impact(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.impact.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.impact(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>

                        <div>
                            <p><b>Impact Sectors*</b></p>
                            <!-- <p><small>Land Selection<input type="checkbox" value="land selection" name="mycheckbox"></small>
                            <small>Design<input type="checkbox" value="design" name="mycheckbox"></small>
                            <small>Leasing and Brokerage<input type="checkbox" value="leasing and brokerage" name="mycheckbox"></small></p>
                            <p><small>Entitlement<input type="checkbox" value="entitlement" name="mycheckbox"></small>
                            <small>Capital Stock<input type="checkbox" value="capital stock" name="mycheckbox"></small>
                            <small>Acquisition and Disposition<input type="checkbox" value="acquisition and disposition" name="mycheckbox"></small></p>
                            <p><small>Construction<input type="checkbox" value="construction" name="mycheckbox"></small>
                            <small>Demolition<input type="checkbox" value="demolition" name="mycheckbox"></small>
                            <small>Redevelopment<input type="checkbox" value="redevelopment" name="mycheckbox"></small></p>
                            <small>Asset Operations and Monitoring<input type="checkbox" value="asset operations and monitoring" name="mycheckbox"></small> -->
                            {% for s in sectors %}
                            <p><small>{{ s }}<input type="checkbox" value="{{ s }}" name="mycheckbox"></small></p>
                            {% endfor %}
                            <br></br>
                        </div>


                        <div class="form-group">
                                <b>{{ form.sources.label(class="form-control-label") }}</b>
                                <p><small><font color="grey">Use ";" to split multi sources, less than 3 sources preferred.</font></small></p>
                                {% if form.sources.errors %}
                                    {{ form.sources(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.sources.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.sources(class="form-control form-control-lg") }}
                                {% endif %}
                        </div>
                    </div>
                <!-- </form> -->
            </div>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}



{% endblock content %}
