{% extends "layout.html" %}
{% from "show_links.html" import show_links %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block content %}

<div div class="col-lg-12">

    <h4>View Tech Story: </h4>


    <div class = "content-section">
      <h6>Technology Name: </h6>
      {{ story['tech_name']}}
    </div>

    <div class = "content-section">
      <h6>Story Time</h6>
      {{ story['story_year']}} {% if story['story_date'] %} story['story_date'] {% endif %}
    </div>

    <div class = "content-section">
    <h6>Milestone</h6>
      {% if story['milestone'] != 'None' %}  {{ story['milestone'] }} {% else %} This is a non-milestone story {% endif %}
    </div>

    <div class = "content-section">
    <h6>Story Content: </h6>
      {{ story['story_content']}}
    </div>

    <div class = "content-section">
    <h6>Sources: </h6>
      {{ story['source'] }}
    </div>

    <div class = "content-section">
    <h6>Contributor: </h6>
      {{ story['username'] }}
    </div>


</div>

{% endblock content %}
