{% extends "layout.html" %}
{% from "show_links.html" import show_links %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block content %}

<div div class="col-lg-12">

  <div class = "row">
    <div class = "col">
      <h5>You are viewing: {{ story['tech_name']}} </h5>
      <p><small><font color="grey">Latest story/edit by {{ story['contributor'] }} at {{ story['contribute_time_dt'] }}</font></small></p>
    </div>
    <div class = "col">
      <div class="btn-group btn-group-sm pull-right mt-1" role="group">
        {% if mode == 'edit' %}
          <a href="{{ url_for('commit_story', log_s_id = story['log_s_id']) }}" role="button"  class="btn {% if user['admin'] == 0 %}  btn-outline-secondary disabled {% else %} btn-outline-info {% endif %}">Commit to the main database</a>
        {% else %}
          <a href="{{ url_for('tech_analytics', tech=story['tech_name']) }}" role="button"  class="btn btn-outline-info ">Analysis & Add Stories</a>
        {% endif %}
        <a href="{{ url_for('edit_log', log_s_id=story['log_s_id']) }}" role="button"  class="btn  {% if user['can_edit'] == 0 %}  btn-outline-secondary disabled {% else %} btn-outline-info {% endif %} pull-right">Edit story Content</a>
      </div>
    </div>
  </div>

    <div class = "content-section">
      <h6>Story Time</h6>
      {{ story['story_year']}} {% if story['story_date'] %} story['story_date'] {% endif %}
    </div>

    <div class = "content-section">
    <h6>Milestone</h6>
      {% if story['milestone'] != 'None' %}  {{ story['milestone'] }} {% else %} This is a non-milestone story {% endif %}
    </div>

    <div class = "content-section">
    <h6>Story Content: </h6>
      {{ story['story_content']}}
    </div>

    <div class = "content-section">
    <h6>Sources: </h6>
      {{ story['source'] }}
    </div>

    <div class = "content-section">
    <h6>Contributor: </h6>
      {{ story['username'] }}
    </div>


</div>

{% endblock content %}
