{% extends "layout.html" %}
{% from "show_links.html" import show_links %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block content %}

<div div class="table table-responsive-sm">


      <h5>Current Progress</h5>
      <table id="example" class="table table-hover" >
        <thead>
            <tr>

                <th>Year</th>
                <th>Story Content</th>
                <th>Milestone</th>
                <th>Contributor</th>
                <th>Submit Time</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        {% for story in stories %}
        <tbody>
            <tr>


                <td>{{ story['story_year'] }}</td>
                <td>{{ story['story_content'] }}</td>
                <td>{{ story['milestone'] }}</td>
                <td>{{ story['contributor_name'] }}</td>
                <td>{{ story['contribute_time'] }}</td>
                <td>
                  <a href = "{{ url_for('view_log', log_s_id= story['log_s_id']) }}" role="button"  class="btn btn-outline-info ">View</a>
                </td>
                <td>
                  <a href = "{{ url_for('final_edit_story', tech= story['tech_name']) }}" role="button"  class="btn {% if story['contributor_id'] == user['user_id'] or user['can_edit'] == 1 %} btn-outline-info {% else %} btn-outline-secondary disabled {% endif %}">Edit</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}

      </table>



</div>

{% endblock content %}
